.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group data-group_id
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member
    %a(href="/groups/:id/edit") 
      .main-header__edit-btn Edit
      %link(rel="stylesheet" href="#")/
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker test
        %p.message__upper-info__date 0000/00/00(ooo) 00:00:00
      %p.message__text text
  .form
    .new_message
      .input-box
        %input.input-box__text{placeholder: 'type a message' ,type: 'text' ,name: 'message[content]' ,id: 'message_content' }
        %label{class: "input-box__image" ,type: "file" ,name: "message[image]" ,id: "message_image"}
          = icon('fas', 'image')
          %input{type: "file"}
        %input.submit-btn{type:"submit" ,name:"commit" ,value:"Send" ,class:"form__submit"}