a {
  color: $color_white;
  text-decoration: none;
}

.chat-side {
  width: 300px;
  background-color: $color_blackppoi;
  float: left;
}

.side-header {
  display: flex;
  background-color: #253141;
  height: 100px;  
  align-items: center;
  padding: 0 20px;
  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__user-name {
      font-weight: bold;
      color: $color_white;
    }
  }
}

.groups {
  height: calc(100vh - 100px);
  padding: 20px 20px 0px;
  .group {
    &__group-name {
      font-size: 15px;
      padding: 0px 0px 5px;
    }
    &__latest-message {
      font-size: 11px;
    }
  }
}