.chat-side {
  background-color: $color_blackppoi;
  width: 300px;
  height: 100vh;
  float: left;
}

.side-header {
  background-color: #253141;
  height: 100px;  
  align-items: center;
  padding: 0 20px;
  &__box {
    justify-content: space-between;
    width: 260px;
    &__menu__edit-user {
      text-align: right;
      padding: 0 0 0 5px;
    }
  }
}

.groups {
  height: calc(100vh - 100px);
  background-color: $color_blackppoi;
  padding: 20px 20px 0px;
  overflow: scroll;
  .group {
    &__group-name {
      font-size: 15px;
      padding: 0px 0px 5px;
    }
    &__latest-message {
      font-size: 11px;
    }
  }
}